/* Общие стили */
    html {
      scroll-behavior: smooth;
    }
body {
    opacity: 0;
    animation: fadeIn 1s forwards;
    font-family: sans-serif;
    margin: 0;
    background-color: #fffacd;
    color: #333;
    display: flex;
    flex-direction: column;
    position:relative;
   min-height: 100vh;
   
}

     
    

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-20px); /* Небольшой сдвиг вверх для эффекта */
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

img {
    max-width: 100%;
    height: auto;
    display: block; /* Убирает отступ снизу у изображений */
}

/* Header */
.header {
    background-color: cornflowerblue;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 100;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    color:white;
    
    
}
.logo a {
    text-decoration: none; /* Убрать подчеркивание у ссылки в лого */
    color: white; /* Цвет текста логотипа */  <--  Изменил цвет на белый
    font-weight: bold; /* Жирный шрифт */
}



     
/* Скрываем меню на десктопе (показываем кнопку) */


/* Main */
main {
    padding: 20px;
}

.articles-container {
    padding: 10px; /* Добавьте отступы по краям */
}

.article-item {
    margin-bottom: 20px; /* Увеличьте отступ между статьями */
    background-color: #dcd692;
    padding: 15px; /* Увеличьте внутренние отступы */
    /* border-radius: 5px; - уберите, если не нравится */
}

.article-item img {
    max-width: 100%;
    height: auto;
    display: block; /* Убирает отступ снизу у изображений */
    margin-bottom: 10px; /* Добавьте отступ между изображением и текстом */
}

.article-title{
    overflow-wrap: anywhere;
}

    .video-container {
        
        width: 100%;
        height: auto;
        max-width: 100%;
        
    }

    .video-container video {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Заполняем контейнер, обрезая части видео */
    }

   .footer{
     position:absolute;
     height: 30px;
     left:0;
     bottom:0;
     width:100%;
     background-color: #dcd692;
     color:#6c757d;
     text-align: center;
     font-size:12px;
     display: flex;
     justify-content: center;
     
   }
        
    
      
       

    